body {
  font-family: "Noto Sans KR", sans-serif !important;
  letter-spacing: -0.03rem;
  /* font-weight: 500; */
}

header.my_header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 9;
}

h1 {
  font-family: "RixInooAriDuriR", sans-serif;
  margin: 0;
}

.logo_squirrel {
  height: 50px;
  margin-right: 15px;
}

.full_container {
  padding-top: 82px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fcd303;
  font-family: "Orbit-Regular", sans-serif;
  transition: 0.8s;
  height: 100%;
  overflow: auto;
  font-weight: 700;
}

.hamburgerMenu {
  margin-left: auto;
  font-size: 2rem;
}

nav.hiddenNav {
  height: 0;
}

nav ul:nth-of-type(1) {
  padding-top: 15px;
}

nav ul {
  padding-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
  padding-left: 0;
}

nav ul:nth-last-child(1) {
  padding-bottom: 15px;
}

nav .nav_ul::after {
  content: "";
  width: 100%;
  border-bottom: 1px dashed #000;
  height: 15px;
  left: 0;
  position: absolute;
}

ul {
  padding: 0;
  margin: 0 !important;
  list-style: none;
}

nav ul li {
  padding-bottom: 10px;
}

.menuClose {
  font-size: 2.375rem;
  position: fixed;
  right: 0;
  top: 0;
}

.scroll::-webkit-scrollbar {
  width: 3px;
}

.contentWrapper {
  padding: 2rem 1rem;
}

.list_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

.post_list {
  border: 1px solid #9c9c9c89;
  padding: 8px 16px;
  border-radius: 10px;
  height: 100px;
  /* display: flex;
  align-items: center; */
  /* font-weight: 700; */
}

.date_text{
  font-size: 10px;
}

.myInput {
  width: 100%;
  border: none;
  background-color: #efefef;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  outline: none;
}

.navIcons {
  width: 2rem;
  margin-right: 0.4rem;
}

.myBtn,
.editBtn {
  border: none;
  background-color: #fcd303;
  padding: 0.3rem 2rem;
  border-radius: 10px;
  font-family: "KOTRAHOPE";
}

.fileBtn {
  background-color: #c4ad38;
  padding: 0.2rem 1rem;
  color: #fff;
}

.previewWrapper {
  width: 80vw;
  background-color: #a7a7a7;
  aspect-ratio: 4/3;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.infoText {
  font-size: 12px;
}

.quill {
  height: 58vh;
}

.quillWrapper {
  width: 100%;
}

.ql-toolbar.ql-snow {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.ql-container {
  height: calc(100% - 64px) !important;
}

.ql-editor {
  font-size: 1rem;
}

.form-select {
  box-shadow: none !important;
}

.form-select:focus {
  border-color: var(--bs-border-color) !important;
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1rem;
}

button {
  border: none;
  background-color: transparent;
}

.pagination_btn {
  color: #9c9c9c;
  border-radius: 3px;
  font-family: "KOTRAHOPE", sans-serif;
}

.postWrapper {
  position: absolute;
  height: 98vh;
  background-color: #fdfae8;
  width: 100%;
  left: 0;
  z-index: 999;
  bottom: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.5s;
  overflow: auto;
}

.h-0 {
  height: 0 !important;
  overflow: hidden;
}

.postInner {
  padding: 30px;
}

.postContentWrapper p {
  margin-bottom: 0.4rem;
}

.content_wrapper {
  padding-top: 20px;
}

.thumbnailWrapper {
  flex-grow: 1;
}

nav .rc,
.rc_root {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

nav .rc_body-days-of-month .rc_body-cell .rc_body-cell_value {
  border-radius: 50%;
}

nav .rc_body-days-of-month .rc_body-cell.rc_selected .rc_body-cell_value {
  background-color: #c438c4;
}

.react-datepicker {
  width: 276px;
  border: none;
}

.react-datepicker .react-datepicker__day--selected {
  background: url(../public/images/dotori.svg) no-repeat transparent 70% /
    contain;
}

.react-datepicker .react-datepicker__day--selected:hover {
  background-color: #bda115b3;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker .react-datepicker__header {
  background-color: #fcd20389;
}

.dateLoadingWrapper {
  position: absolute;
  height: 98%;
  width: 100%;
  top: 0;
  background-color: #5f5f5f35;
  z-index: 99;
}

.blob-btn{
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background: rgb(33, 209, 66);
  color: #fff;
}

@media (min-width: 768px) {
  .hamburgerMenu {
    font-size: 2.5rem;
  }

  nav {
    width: 50%;
  }

  nav li {
    white-space: nowrap;
  }

  nav.hiddenNav {
    width: 0;
    height: 100%;
  }

  .menuClose {
    right: 50%;
  }

  .navBackground {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    z-index: 9;
  }

  .navBackground.show {
    width: 100%;
  }

  .contentWrapper {
    padding: 2rem 3rem;
  }

  .list_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .ql-container {
    height: calc(100% - 42px) !important;
  }

  .postInner {
    padding: 30px 30px 30px 50px;
  }

  .post_list {
    height: 150px;
  }

  .previewWrapper {
    width: 50vw;
  }
}

@media (min-width: 1199px) {
  .navBackground.show {
    width: 0;
  }
  .scroll::-webkit-scrollbar {
    width: 7px;
  }

  .scroll::-webkit-scrollbar-track {
    background-color: rgb(245, 244, 193);
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: rgb(255, 251, 35);
    border: 1px solid #000;
    border-radius: 5px;
  }

  nav,
  nav.hiddenNav {
    width: 252px;
    /* max-width: 278px; */
    top: 80px;
    height: calc(100% - 80px);
    position: fixed;
    background-color: #fff1a8;
  }

  .hamburgerMenu {
    display: none;
  }

  .menuClose {
    display: none;
  }

  .navItem {
    width: 1.5rem;
    transition: 0.5s;
    padding: 0.5rem 1rem;
    border-bottom: 1px dashed #c4ad38;
    border-width: 0;
  }

  .navItem:hover {
    border-width: 100%;
  }

  .navItem:hover .navIcons {
    animation-name: hoverIcons;
    animation-iteration-count: 3;
    animation-duration: 0.2s;
    animation-direction: normal;
    animation-timing-function: linear;
  }

  @keyframes hoverIcons {
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .full_container {
    padding: 82px 0 0 252px;
  }

  .contentWrapper {
    padding: 2rem 3.5rem;
  }

  nav ul {
    font-size: 1rem;
  }

  .list_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .post_list {
    cursor: pointer;
    height: 300px;
    transition: 0.35s;
  }

  .post_list:hover {
    box-shadow: -1px 4px 37px -1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: -1px 4px 37px -1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: -1px 4px 37px -1px rgba(0, 0, 0, 0.26);
  }

  .myBtn {
    cursor: pointer;
    background-color: rgb(245, 244, 193);
    padding: 0.5rem 2rem;
    transition: 0.3s;
    font-size: 1.3rem;
  }

  .myBtn:hover {
    background-color: #fcd303;
  }

  .pointer {
    cursor: pointer;
  }

  .postWrapper {
    height: 95vh;
  }

  .blob-btn {
    z-index: 1;
    position: relative;
    padding: 0.7rem 5rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #a7a7a7;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
  }

  .blob-btn:hover {
    color: #fff;
  }

  .blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
  }

  .blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(182, 204, 182);
    border-radius: 20px;
  }

  .blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo");
  }

  .blob-btn__blob {
    position: absolute;
    top: 6px;
    width: 25%;
    height: 100%;
    background: rgb(87, 255, 118);
    border-radius: 100%;
    transform: translate3d(0, 200%, 0) scale(2);
    transition: transform 0.45s;
  }

  @supports (filter: url("#goo")) {
    .blob-btn__blob {
      transform: translate3d(0, 200%, 0) scale(2);
    }
  }

  .blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
  }

  .blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.1s;
  }

  .blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.2s;
  }

  .blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.3s;
  }

  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(2);
  }

  @supports (filter: url("#goo")) {
    .blob-btn:hover .blob-btn__blob {
      transform: translateZ(0) scale(2);
    }
  }

  .postInner {
    padding: 50px 50px 50px 80px;
  }

  .postContentWrapper {
    padding-top: 20px;
    padding-right: 50px;
  }

  .quillWrapper {
    width: 75%;
  }

  .writeArea {
    display: flex;
    gap: 1rem;
  }

  .previewWrapper {
    width: 100%;
  }

  .thumbnailWrapper {
    width: 25%;
  }

  .react-datepicker {
    width: 235px;
  }

  .react-datepicker__month {
    margin: 0;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    margin: 0;
  }

  .navIcons {
    width: 1.2rem;
    margin-right: 0.4rem;
  }
}
